@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-color: #333;
    color: #eee;
}

body {
    color: #333;
}

.hidden {
    display: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}